**
!package.json
!package-lock.json
!server.js
!svelte.config.js
!tsconfig.json
!vite.config.ts
!src/**
!static/**
!scripts/**
!docs/**
!.github/**
!Dockerfile
!docker-compose.yml
!Caddyfile
!drizzle.config.ts
!README.md
!CONTRIBUTING.md
!SECURITY.md
!CODE_OF_CONDUCT.md
!CHANGELOG.md
!.env.example
!.dockerignore
!.gitignore
!.editorconfig
!.gitattributes
!.nvmrc
!LICENSE
!THIRD_PARTY_NOTICES.md
static/source.tgz
